:root {
    --violet: #582C4D;
    --deep-taupe: #A26769;
    --dark-vanilla: #D5B9B2;
    --almond: #ECE2D0;
    --gray: #BFB5AF;
}

.App {
    color: var(--dark-vanilla)
}

.item-name {
    color: var(--almond);
    font-size: 20px;
    font-weight: bold;
}
.option-group {
    margin-left: 15px;
}
.option-group-name {
    font-size: 16px;
}
.options {
    margin-left: 15px;
}